<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="jdbcwql.properties"></properties>

    <settings>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--不自动查询所有信息-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.wql.user"/>
        <typeAlias type="com.fq.prople"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="param1" value="value1"/>
        </plugin>
    </plugins>
<environments default="WQL">
    <environment id="WQL">
        <!--配置事务-->
        <transactionManager type="JDBC"></transactionManager>
        <dataSource type="POOLED">
            <property name="driver" value="${jdbc.driver}"/>
            <property name="url" value="${jdbc.url}"/>
            <property name="username" value="${jdbc.user}"/>
            <property name="password" value="${jdbc.password}"/>
        </dataSource>
    </environment>
</environments>
<mappers>
    <mapper resource="map1.xml"></mapper>
    <mapper resource="map2.xml"/>
    <mapper resource="map3.xml"/>
    <mapper class="com.wqls.imbwql"/>
    <mapper resource="map10.xml"/>
</mappers>
</configuration>

